#DIV_22 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 6038.328125px;
    position: relative;
    width: 1440px;
    perspective-origin: 720px 3019.15625px;
    transform-origin: 720px 3019.15625px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Open Sans, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_22*/

#SECTION_23 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 1006px;
    text-align: center;
    width: 1440px;
    perspective-origin: 720px 503px;
    transform-origin: 720px 503px;
    background: rgb(246, 246, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Opens Sans, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
    padding: 90px 0px;
}/*#SECTION_23*/

#DIV_24 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 761px;
    text-align: center;
    width: 1440px;
    perspective-origin: 720px 380.5px;
    transform-origin: 720px 380.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Open Sans, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_24*/

#DIV_1 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 761px;
    position: relative;
    text-align: center;
    width: 960px;
    perspective-origin: 480px 380.5px;
    transform-origin: 480px 380.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Montserrat, Arial, sans-serif;
    margin: 0px 240px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(153, 153, 153);
    text-align: center;
    visibility: hidden;
    content: ' ';
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Open Sans, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
    overflow: hidden;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    text-align: center;
    visibility: hidden;
    content: ' ';
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Open Sans, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
    overflow: hidden;
}/*#DIV_1:before*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    float: left;
    height: 103px;
    text-align: center;
    width: 940px;
    perspective-origin: 470px 51.5px;
    transform-origin: 470px 51.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Open Sans, Arial, sans-serif;
    margin: 0px 10px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_2*/

#H1_3 {
    box-sizing: border-box;
    display: inline-block;
    height: 73px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 124.28125px;
    perspective-origin: 62.140625px 36.5px;
    transform-origin: 62.140625px 36.5px;
    font: normal normal bold normal 18px/normal Open Sans;
    margin: 0px 0px 30px;
}/*#H1_3*/

#H1_3:after {
    box-sizing: border-box;
    height: 2px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 15px;
    width: 20px;
    z-index: 0;
    perspective-origin: 10px 1px;
    transform-origin: 10px 1px;
    content: '';
    border-bottom: 2px solid rgb(0, 0, 0);
    font: normal normal bold normal 18px/normal Quicksand;
    margin: 0px 52.140625px 50px;
}/*#H1_3:after*/

#DIV_4, #DIV_16 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    float: left;
    height: 658px;
    opacity: 0.5;
    text-align: center;
    width: 300px;
    z-index: 0;
    perspective-origin: 150px 329px;
    transform-origin: 150px 329px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Montserrat, Arial, sans-serif;
    margin: 0px 10px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_4, #DIV_16*/

#IMG_5, #IMG_11, #IMG_17 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 260px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    width: 260px;
    perspective-origin: 130px 130px;
    transform-origin: 130px 130px;
    border: 0px none rgb(153, 153, 153);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 14px/normal Montserrat, Arial, sans-serif;
    margin: 0px 0px 25px;
    outline: rgb(153, 153, 153) none 0px;
}/*#IMG_5, #IMG_11, #IMG_17*/

#H2_6, #H2_12, #H2_18 {
    box-sizing: border-box;
    height: 82px;
    text-align: center;
    width: 300px;
    perspective-origin: 150px 41px;
    transform-origin: 150px 41px;
    font: normal normal normal normal 22px/normal QuickSand;
    margin: 0px;
    padding: 0px 0px 30px;
}/*#H2_6, #H2_12, #H2_18*/

#BR_7, #BR_13, #BR_19 {
    box-sizing: border-box;
    text-align: center;
    font: normal normal normal normal 22px/normal QuickSand;
}/*#BR_7, #BR_13, #BR_19*/

#SPAN_8, #SPAN_14, #SPAN_20 {
    box-sizing: border-box;
    color: rgb(190, 149, 61);
    letter-spacing: 1px;
    text-align: center;
    border: 0px none rgb(190, 149, 61);
    font: normal normal normal normal 14px/normal 'Open Sans';
    outline: rgb(190, 149, 61) none 0px;
    padding: 10px 0px 0px;
}/*#SPAN_8, #SPAN_14, #SPAN_20*/

#P_9, #P_15 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 291px;
    letter-spacing: 0.200000002980232px;
    text-align: center;
    width: 260px;
    perspective-origin: 130px 145.5px;
    transform-origin: 130px 145.5px;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgb(153, 153, 153);
    border-bottom: 0px none rgb(153, 153, 153);
    border-left: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 14px/30px 'Open Sans';
    margin: 0px 20px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 20px 0px 0px;
}/*#P_9, #P_15*/

#DIV_10 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    float: left;
    height: 658px;
    text-align: center;
    width: 300px;
    perspective-origin: 150px 329px;
    transform-origin: 150px 329px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 14px/normal Montserrat, Arial, sans-serif;
    margin: 0px 10px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_10*/

#P_21 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 291px;
    letter-spacing: 0.200000002980232px;
    text-align: center;
    width: 260px;
    perspective-origin: 130px 145.5px;
    transform-origin: 130px 145.5px;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 0px none rgb(153, 153, 153);
    border-bottom: 0px none rgb(153, 153, 153);
    border-left: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 14px/30px 'Open Sans';
    margin: 0px 20px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 20px 0px 0px;
}/*#P_21*/

