.version.index /* version checker */
{
	color: #000007;
	background-color: #4BC61F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1427px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu112
{
	width: 0.01px;
	padding-bottom: 65px;
	margin-left: -100px;
}

#u112
{
	z-index: 71;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 0px;
}

#u112-bw
{
	z-index: 71;
}

#u120-5
{
	z-index: 72;
	width: 142px;
	min-height: 36px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -580px;
}

#u120-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u120
{
	font-size: 30px;
	line-height: 36px;
}

#u82
{
	z-index: 2;
	height: 700px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/title6.jpg") no-repeat center center;
	background-size: cover;
}

#u82-bw
{
	z-index: 2;
	height: 700px;
}

#pu98-6
{
	width: 0.01px;
	padding-bottom: 188px;
	margin-left: 194px;
	margin-top: -606px;
}

#u98-6
{
	z-index: 7;
	width: 572px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 226px;
	left: 50%;
	margin-left: -286px;
}

#u1803
{
	margin-top: 654px;
	margin-bottom: -654px;
}

#u1800-7
{
	z-index: 13;
	width: 696px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u96-4
{
	z-index: 3;
	width: 446px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 159px;
	left: 50%;
	margin-left: -223px;
}

#pu451
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u451
{
	z-index: 21;
	min-height: 632px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 68px;
}

#u451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1819
{
	z-index: 29;
	width: 324px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 183px;
}

#u1804-7
{
	z-index: 22;
	width: 401px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 564px;
}

#u451-bw
{
	z-index: 21;
	min-height: 632px;
}

#pamphletu1821
{
	z-index: 31;
	width: 0.01px;
	height: 480px;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 230px;
}

#u1826
{
	z-index: 32;
	width: 224px;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
}

#u1832
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
}

#u1832:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1832:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1889
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 26px;
}

#u1889:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1889:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1901
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 52px;
}

#u1901:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1901:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1912
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 78px;
}

#u1912:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1912:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1923
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 104px;
}

#u1923:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1923:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1934
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 130px;
}

#u1934:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1934:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1945
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 156px;
}

#u1945:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1945:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1956
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 182px;
}

#u1956:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1956:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1973
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 208px;
}

#u1973:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1973:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1832.PamphletThumbSelected,#u1889.PamphletThumbSelected,#u1901.PamphletThumbSelected,#u1912.PamphletThumbSelected,#u1923.PamphletThumbSelected,#u1934.PamphletThumbSelected,#u1945.PamphletThumbSelected,#u1956.PamphletThumbSelected,#u1973.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1833
{
	position: absolute;
	width: 207px;
	background-color: transparent;
	left: 6px;
}

#u1833popup
{
	z-index: 42;
}

#u1834
{
	z-index: 43;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1835
{
	z-index: 44;
	width: 206px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u1835
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1883
{
	z-index: 45;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1890
{
	z-index: 47;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1895
{
	z-index: 48;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1902
{
	z-index: 50;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1906
{
	z-index: 51;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1913
{
	z-index: 53;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1917
{
	z-index: 54;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1924
{
	z-index: 56;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1928
{
	z-index: 57;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1935
{
	z-index: 59;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1939
{
	z-index: 60;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1946
{
	z-index: 62;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1950
{
	z-index: 63;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1957
{
	z-index: 65;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1967
{
	z-index: 66;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1974
{
	z-index: 68;
	width: 207px;
	height: 367px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	margin-right: -10000px;
	position: relative;
}

#u1978
{
	z-index: 69;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

