.version.index /* version checker */
{
	color: #0000F6;
	background-color: #C15360;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1427px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu112
{
	width: 0.01px;
	padding-bottom: 65px;
	margin-left: -100px;
}

#u112
{
	z-index: 29;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 0px;
}

#u112-bw
{
	z-index: 29;
}

#u120-5
{
	z-index: 30;
	width: 142px;
	min-height: 36px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -580px;
}

#u120-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u120
{
	font-size: 30px;
	line-height: 36px;
}

#u82
{
	z-index: 2;
	height: 700px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/title8.jpg") no-repeat center center;
	background-size: cover;
}

#u82-bw
{
	z-index: 2;
	height: 700px;
}

#pu98-6
{
	width: 0.01px;
	padding-bottom: 188px;
	margin-left: 194px;
	margin-top: -606px;
}

#u98-6
{
	z-index: 7;
	width: 572px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 226px;
	left: 50%;
	margin-left: -286px;
}

#u1803
{
	margin-top: 654px;
	margin-bottom: -654px;
}

#u1800-7
{
	z-index: 13;
	width: 696px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u96-4
{
	z-index: 3;
	width: 320px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 159px;
	left: 50%;
	margin-left: -160px;
}

#u451
{
	z-index: 21;
	min-height: 313px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 387px;
}

#u451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u1804-7
{
	z-index: 22;
	width: 696px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 232px;
}

#u451-bw
{
	z-index: 21;
	min-height: 313px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

