.version.index /* version checker */
{
	color: #0000E0;
	background-color: #35FE87;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2161px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu112
{
	width: 0.01px;
	padding-bottom: 65px;
	margin-left: -100px;
}

#u112
{
	z-index: 473;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 0px;
}

#u112-bw
{
	z-index: 473;
}

#u120-5
{
	z-index: 474;
	width: 142px;
	min-height: 36px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -580px;
}

#u120-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u120
{
	font-size: 30px;
	line-height: 36px;
}

#u82
{
	z-index: 2;
	height: 700px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/title1.jpg") no-repeat center center;
	background-size: cover;
}

#u82-bw
{
	z-index: 2;
	height: 700px;
}

#pu98-4
{
	width: 0.01px;
	padding-bottom: 125px;
	margin-left: 194px;
	margin-top: -637px;
}

#u98-4
{
	z-index: 7;
	width: 572px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 195px;
	left: 50%;
	margin-left: -286px;
}

#u96-4
{
	z-index: 3;
	width: 320px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: -160px;
}

#u451
{
	z-index: 11;
	min-height: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
}

#u451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 102px;
	padding-bottom: 105px;
	margin-bottom: -1px;
}

#u427-4
{
	z-index: 12;
	width: 745px;
	min-height: 99px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 208px;
	position: relative;
}

#u1708
{
	z-index: 106;
	width: 370px;
	background-color: transparent;
	left: 395px;
	margin-top: 23px;
	position: relative;
}

#u451-bw
{
	z-index: 11;
	min-height: 700px;
	margin-top: -1px;
}

#u968-4
{
	z-index: 22;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 164px;
	margin-top: 43px;
	position: relative;
}

#pamphletu1131
{
	z-index: 26;
	width: 0.01px;
	height: 586px;
	margin-left: 46px;
	margin-top: 22px;
	position: relative;
}

#u1152
{
	z-index: 27;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 380px;
}

#u1154
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
}

#u1154:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1154:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1153
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 46px;
}

#u1153:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1153:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1155
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 92px;
}

#u1155:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1155:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1132
{
	position: absolute;
	width: 867px;
	background-color: transparent;
}

#u1132popup
{
	z-index: 31;
}

#u1141
{
	z-index: 32;
	width: 866px;
	height: 551px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 13px;
	margin-right: -10000px;
	position: relative;
}

#u1145
{
	z-index: 33;
	width: 620px;
	height: 411px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1142
{
	z-index: 38;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1159
{
	z-index: 39;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1165
{
	z-index: 40;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1257
{
	z-index: 41;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1714
{
	z-index: 42;
	width: 865px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1144-4
{
	z-index: 34;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 20px;
	position: relative;
}

#u1137
{
	z-index: 44;
	width: 866px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u1138
{
	z-index: 49;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1168
{
	z-index: 50;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1251
{
	z-index: 51;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1720
{
	z-index: 52;
	width: 866px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1140-4
{
	z-index: 45;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 18px;
	position: relative;
}

#u1133
{
	z-index: 54;
	width: 867px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
}

#u1135
{
	z-index: 59;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1171
{
	z-index: 60;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1245
{
	z-index: 61;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1726
{
	z-index: 62;
	width: 866px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1134-4
{
	z-index: 55;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 149px;
	margin-top: 18px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1228
{
	z-index: 16;
	min-height: 314px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 451px;
	background: #F7F7F7 url("../images/soldiers.jpg") no-repeat center center;
	background-size: cover;
}

#u1229-4
{
	z-index: 18;
	width: 696px;
	min-height: 31px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 232px;
}

#u1228-bw
{
	z-index: 16;
	min-height: 314px;
	margin-top: 54px;
}

#u1740
{
	z-index: 17;
	min-height: 804px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
}

#u1740_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 158px;
	padding-bottom: 198px;
}

#u1304-4
{
	z-index: 88;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 264px;
	position: relative;
}

#pu1741
{
	width: 0.01px;
	left: 160px;
	margin-top: 86px;
	position: relative;
}

#u1741
{
	z-index: 108;
	position: relative;
	margin-right: -10000px;
}

#u1746
{
	z-index: 109;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1751
{
	z-index: 110;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#pu532-4
{
	width: 0.01px;
	left: 72px;
	margin-top: 21px;
	position: relative;
}

#u532-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u515-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u533-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 701px;
}

#u534-4
{
	z-index: 72;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u535-4
{
	z-index: 76;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u536-4
{
	z-index: 80;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 701px;
}

#u1740-bw
{
	z-index: 17;
	min-height: 804px;
}

#pu1814
{
	width: 0.01px;
	margin-left: -100px;
}

#u1814
{
	z-index: 161;
	height: 789px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/breathing.jpg") no-repeat center center;
	background-size: cover;
}

#u1814-bw
{
	z-index: 161;
	height: 789px;
}

#u2021
{
	z-index: 162;
	min-height: 788.9500000000016px;
	border-style: none;
	border-color: transparent;
	background-color: #BCBCBC;
	background-color: rgba(26,26,26,0.29);
	padding-bottom: 0px;
	-pie-background: rgba(26,26,26,0.29);
}

#u2021_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 297px;
	padding-bottom: 362px;
}

#u1812-4
{
	z-index: 167;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 264px;
	position: relative;
}

#u1813-4
{
	z-index: 171;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 240px;
	margin-top: 15px;
	position: relative;
}

#u2021-bw
{
	z-index: 162;
	min-height: 788.9500000000016px;
}

#u1757-4
{
	z-index: 111;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 164px;
	margin-top: 120px;
	position: relative;
}

#u1758-4
{
	z-index: 115;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 15px;
	position: relative;
}

#u1759
{
	z-index: 119;
	width: 900px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 28px;
	position: relative;
}

#u1801
{
	z-index: 121;
	min-height: 827.7930068375135px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 0px;
}

#u1801_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 77px;
	padding-bottom: 186px;
}

#u1767-4
{
	z-index: 137;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 264px;
	position: relative;
}

#u1768-4
{
	z-index: 145;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 240px;
	margin-top: 15px;
	position: relative;
}

#pu1786
{
	width: 0.01px;
	left: 160px;
	margin-top: 91px;
	position: relative;
}

#u1786
{
	z-index: 134;
	position: relative;
	margin-right: -10000px;
}

#u1791
{
	z-index: 135;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1796
{
	z-index: 136;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#pu1771-4
{
	width: 0.01px;
	left: 72px;
	margin-top: 20px;
	position: relative;
}

#u1771-4
{
	z-index: 157;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1770-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u1775-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 701px;
}

#pu534-4,#pu1772-4
{
	width: 0.01px;
	left: 72px;
	margin-top: 22px;
	position: relative;
}

#u1772-4
{
	z-index: 163;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1773-4
{
	z-index: 122;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1774-4
{
	z-index: 126;
	width: 314px;
	min-height: 71px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 701px;
}

#u1801-bw
{
	z-index: 121;
	min-height: 827.7930068375135px;
	margin-top: 82px;
}

#u1821-4
{
	z-index: 141;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 164px;
	margin-top: 94px;
	position: relative;
}

#u1822-4
{
	z-index: 149;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 15px;
	position: relative;
}

#u1824
{
	z-index: 175;
	width: 865px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 67px;
	position: relative;
}

#u1833
{
	z-index: 177;
	width: 865px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 28px;
	position: relative;
}

#pu1472
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 115px;
}

#u1472
{
	z-index: 92;
	min-height: 104px;
	background-color: #F7F7F7;
	padding-bottom: 718px;
}

#u1430-4
{
	z-index: 93;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 256px;
}

#u1472-bw
{
	z-index: 92;
	min-height: 104px;
}

#pamphletu1839
{
	z-index: 179;
	width: 0.01px;
	height: 578px;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 146px;
}

#u1866
{
	z-index: 180;
	width: 338px;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 265px;
}

#u1868
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
}

#u1868:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1868:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1867
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 46px;
}

#u1867:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1867:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1869
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 92px;
}

#u1869:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1869:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1895
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 138px;
}

#u1895:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1895:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1914
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 184px;
}

#u1914:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1914:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1928
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 230px;
}

#u1928:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1928:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1941
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 276px;
}

#u1941:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1941:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1954
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 322px;
}

#u1954:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1954:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1842
{
	position: absolute;
	width: 872px;
	background-color: transparent;
}

#u1842popup
{
	z-index: 189;
}

#u1843
{
	z-index: 190;
	width: 872px;
	height: 538px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	margin-right: -10000px;
	position: relative;
}

#u1848
{
	z-index: 191;
	width: 620px;
	height: 411px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1846
{
	z-index: 196;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1849
{
	z-index: 197;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1850
{
	z-index: 198;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1847
{
	z-index: 199;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1844
{
	z-index: 200;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1877
{
	z-index: 201;
	width: 867px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1851-4
{
	z-index: 192;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 19px;
	position: relative;
}

#u1852
{
	z-index: 203;
	width: 868px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-right: 4px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1856
{
	z-index: 208;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1857
{
	z-index: 209;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1858
{
	z-index: 210;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1853
{
	z-index: 211;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u1883
{
	z-index: 212;
	width: 867px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1855-4
{
	z-index: 204;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 18px;
	position: relative;
}

#u1859
{
	z-index: 214;
	width: 869px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-right: 3px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1865
{
	z-index: 219;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1862
{
	z-index: 220;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1863
{
	z-index: 221;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1860
{
	z-index: 222;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1889
{
	z-index: 223;
	width: 868px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1864-4
{
	z-index: 215;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 149px;
	margin-top: 18px;
	position: relative;
}

#u1896
{
	z-index: 225;
	width: 869px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-right: 3px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1905
{
	z-index: 226;
	width: 869px;
	background-color: transparent;
	position: relative;
}

#u1913-4
{
	z-index: 228;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 151px;
	margin-top: 18px;
	position: relative;
}

#u1915
{
	z-index: 232;
	width: 869px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-left: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1920
{
	z-index: 233;
	width: 869px;
	background-color: transparent;
	position: relative;
}

#u1927-4
{
	z-index: 235;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 18px;
	position: relative;
}

#u1929
{
	z-index: 239;
	width: 870px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1934
{
	z-index: 240;
	width: 870px;
	background-color: transparent;
	position: relative;
}

#u1940-4
{
	z-index: 242;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 17px;
	position: relative;
}

#u1942
{
	z-index: 246;
	width: 871px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-left: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1947
{
	z-index: 247;
	width: 871px;
	background-color: transparent;
	position: relative;
}

#u1953-4
{
	z-index: 249;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 150px;
	margin-top: 16px;
	position: relative;
}

#u1955
{
	z-index: 253;
	width: 872px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u1960
{
	z-index: 254;
	width: 872px;
	background-color: transparent;
	position: relative;
}

#u1966-4
{
	z-index: 256;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 151px;
	margin-top: 16px;
	position: relative;
}

#u1968-4
{
	z-index: 260;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #1A1A1A;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 164px;
	margin-top: 86px;
	position: relative;
}

#u1969-4
{
	z-index: 264;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 15px;
	position: relative;
}

#u1970
{
	z-index: 272;
	width: 865px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 15px;
	position: relative;
}

#u1977-4
{
	z-index: 268;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	position: relative;
}

#u1984
{
	z-index: 274;
	width: 696px;
	background-color: transparent;
	margin-left: 132px;
	margin-top: 43px;
	position: relative;
}

#u1990
{
	z-index: 276;
	width: 696px;
	background-color: transparent;
	margin-left: 132px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1546-4
{
	z-index: 97;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 58px;
	position: relative;
}

#u2020
{
	z-index: 278;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -30px;
	margin-top: 57px;
	position: relative;
}

#pu1996
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u1996
{
	z-index: 279;
	width: 448px;
	background-color: transparent;
	position: relative;
}

#u2002
{
	z-index: 281;
	width: 448px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#pu2008
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 484px;
}

#u2008
{
	z-index: 283;
	width: 535px;
	background-color: transparent;
	position: relative;
}

#u2014
{
	z-index: 285;
	width: 535px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u2022-4
{
	z-index: 101;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 58px;
	position: relative;
}

#u2096
{
	z-index: 392;
	width: 769px;
	background-color: transparent;
	margin-left: 96px;
	margin-top: 107px;
	position: relative;
}

#pamphletu2025
{
	z-index: 287;
	width: 0.01px;
	height: 581px;
	margin-left: 43px;
	margin-top: 105px;
	position: relative;
}

#u2028
{
	z-index: 288;
	width: 430px;
	position: relative;
	margin-right: -10000px;
	margin-top: 565px;
	left: 222px;
}

#u2035
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
}

#u2035:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2035:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2029
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 46px;
}

#u2029:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2029:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2032
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 92px;
}

#u2032:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2032:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2036
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 138px;
}

#u2036:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2036:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2034
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 184px;
}

#u2034:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2034:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2030
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 230px;
}

#u2030:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2030:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2033
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 276px;
}

#u2033:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2033:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2031
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 322px;
}

#u2031:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2031:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2154
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 368px;
}

#u2154:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2154:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2168
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 414px;
}

#u2168:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2168:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2037popup
{
	z-index: 299;
}

#u2074
{
	z-index: 300;
	width: 872px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2076
{
	z-index: 301;
	width: 620px;
	height: 411px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2082
{
	z-index: 306;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2075
{
	z-index: 307;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2077
{
	z-index: 308;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2083
{
	z-index: 309;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2079
{
	z-index: 310;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2080
{
	z-index: 311;
	width: 867px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
}

#u2106
{
	z-index: 312;
	width: 872px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2078-4
{
	z-index: 302;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 19px;
	position: relative;
}

#u2050
{
	z-index: 314;
	width: 872px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2057
{
	z-index: 319;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u2054
{
	z-index: 320;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2055
{
	z-index: 321;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2053
{
	z-index: 322;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2051
{
	z-index: 323;
	width: 867px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u2112
{
	z-index: 324;
	width: 872px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2056-4
{
	z-index: 315;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 18px;
	position: relative;
}

#u2062
{
	z-index: 326;
	width: 874px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2068
{
	z-index: 331;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2069
{
	z-index: 332;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2065
{
	z-index: 333;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2066
{
	z-index: 334;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2063
{
	z-index: 335;
	width: 868px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
}

#u2118
{
	z-index: 336;
	width: 872px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2067-4
{
	z-index: 327;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 154px;
	margin-top: 19px;
	position: relative;
}

#u2038
{
	z-index: 338;
	width: 874px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2039
{
	z-index: 339;
	width: 869px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
}

#u2124
{
	z-index: 344;
	width: 874px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2041-4
{
	z-index: 340;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 18px;
	position: relative;
}

#u2070
{
	z-index: 346;
	width: 874px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2072
{
	z-index: 347;
	width: 869px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2130
{
	z-index: 352;
	width: 874px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2071-4
{
	z-index: 348;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 18px;
	position: relative;
}

#u2042
{
	z-index: 354;
	width: 874px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2043
{
	z-index: 355;
	width: 870px;
	height: 489px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2136
{
	z-index: 360;
	width: 874px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2045-4
{
	z-index: 356;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 18px;
	position: relative;
}

#u2058
{
	z-index: 362;
	width: 874px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-right: 1px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2059
{
	z-index: 363;
	width: 871px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2142
{
	z-index: 368;
	width: 874px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2061-4
{
	z-index: 364;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 18px;
	position: relative;
}

#u2046
{
	z-index: 370;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2048
{
	z-index: 371;
	width: 872px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
}

#u2148
{
	z-index: 376;
	width: 875px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2047-4
{
	z-index: 372;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u2155
{
	z-index: 378;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2161
{
	z-index: 379;
	width: 875px;
	background-color: transparent;
	position: relative;
}

#u2167-4
{
	z-index: 381;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u2169
{
	z-index: 385;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2176
{
	z-index: 390;
	width: 875px;
	background-color: transparent;
	position: relative;
}

#u2175-4
{
	z-index: 386;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u2190
{
	z-index: 394;
	min-height: 195px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 594px;
	background: #F7F7F7 url("../images/finalprototype.jpg") no-repeat center center;
	background-size: cover;
}

#u1228_align_to_page,#u1472_align_to_page,#u2190_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2191-4
{
	z-index: 395;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 264px;
}

#u2190-bw
{
	z-index: 394;
	min-height: 195px;
	margin-top: 98px;
}

#u2200
{
	z-index: 399;
	width: 865px;
	min-height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 111px;
	position: relative;
}

#u2204-4
{
	z-index: 401;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 21px;
	position: relative;
}

#u2202
{
	z-index: 400;
	width: 865px;
	min-height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 59px;
	position: relative;
}

#u2206-4
{
	z-index: 405;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 21px;
	position: relative;
}

#u2207
{
	z-index: 413;
	width: 920px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 59px;
	position: relative;
}

#u2213-4
{
	z-index: 409;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #1A1A1A;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 140px;
	margin-top: 29px;
	position: relative;
}

#u2214
{
	z-index: 415;
	width: 769px;
	background-color: transparent;
	margin-left: 96px;
	margin-top: 126px;
	position: relative;
}

#pamphletu2217
{
	z-index: 417;
	width: 0.01px;
	height: 581px;
	margin-left: 42px;
	margin-top: 126px;
	position: relative;
}

#u2218
{
	z-index: 418;
	width: 108px;
	position: relative;
	margin-right: -10000px;
	margin-top: 565px;
	left: 383px;
}

#u2219
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
}

#u2219:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2219:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2220
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 46px;
}

#u2220:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2220:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2223
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #B4B4B4;
	border-radius: 10px;
	left: 92px;
}

#u2223:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2223:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u1154.PamphletThumbSelected,#u1153.PamphletThumbSelected,#u1155.PamphletThumbSelected,#u1868.PamphletThumbSelected,#u1867.PamphletThumbSelected,#u1869.PamphletThumbSelected,#u1895.PamphletThumbSelected,#u1914.PamphletThumbSelected,#u1928.PamphletThumbSelected,#u1941.PamphletThumbSelected,#u1954.PamphletThumbSelected,#u2035.PamphletThumbSelected,#u2029.PamphletThumbSelected,#u2032.PamphletThumbSelected,#u2036.PamphletThumbSelected,#u2034.PamphletThumbSelected,#u2030.PamphletThumbSelected,#u2033.PamphletThumbSelected,#u2031.PamphletThumbSelected,#u2154.PamphletThumbSelected,#u2168.PamphletThumbSelected,#u2219.PamphletThumbSelected,#u2220.PamphletThumbSelected,#u2223.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u2037,#u2229
{
	position: absolute;
	width: 875px;
	background-color: transparent;
}

#u2229popup
{
	z-index: 422;
}

#u2230
{
	z-index: 423;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 23px;
	margin-right: -10000px;
	position: relative;
}

#u2235
{
	z-index: 424;
	width: 620px;
	height: 411px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2233
{
	z-index: 429;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2240
{
	z-index: 430;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2232
{
	z-index: 431;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2234
{
	z-index: 432;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2231
{
	z-index: 433;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
}

#u2239
{
	z-index: 434;
	width: 867px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
}

#u2237
{
	z-index: 435;
	width: 872px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
}

#u2308
{
	z-index: 436;
	width: 875px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2236-4
{
	z-index: 425;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u2269
{
	z-index: 438;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 23px;
	margin-right: -10000px;
	position: relative;
}

#u2271
{
	z-index: 443;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u2273
{
	z-index: 444;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2276
{
	z-index: 445;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2272
{
	z-index: 446;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u2277
{
	z-index: 447;
	width: 867px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u2274
{
	z-index: 448;
	width: 872px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
}

#u2314
{
	z-index: 449;
	width: 875px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2270-4
{
	z-index: 439;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u2283
{
	z-index: 451;
	width: 875px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 23px;
	margin-right: -10000px;
	position: relative;
}

#pu1145,#pu1138,#pu1135,#pu1848,#pu1856,#pu1865,#pu2076,#pu2057,#pu2068,#pu2039,#pu2072,#pu2043,#pu2059,#pu2048,#pu2235,#pu2271,#pu2288
{
	width: 0.01px;
}

#u2288
{
	z-index: 456;
	width: 865px;
	height: 486px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2291
{
	z-index: 457;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2290
{
	z-index: 458;
	width: 865px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2284
{
	z-index: 459;
	width: 866px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2285
{
	z-index: 460;
	width: 868px;
	height: 488px;
	position: relative;
	margin-right: -10000px;
}

#u2286
{
	z-index: 461;
	width: 872px;
	height: 490px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

.ie #u1145,.ie #u1142,.ie #u1159,.ie #u1165,.ie #u1257,.ie #u1138,.ie #u1168,.ie #u1251,.ie #u1135,.ie #u1171,.ie #u1245,.ie #u1848,.ie #u1846,.ie #u1849,.ie #u1850,.ie #u1847,.ie #u1844,.ie #u1856,.ie #u1857,.ie #u1858,.ie #u1853,.ie #u1865,.ie #u1862,.ie #u1863,.ie #u1860,.ie #u2076,.ie #u2082,.ie #u2075,.ie #u2077,.ie #u2083,.ie #u2079,.ie #u2080,.ie #u2057,.ie #u2054,.ie #u2055,.ie #u2053,.ie #u2051,.ie #u2068,.ie #u2069,.ie #u2065,.ie #u2066,.ie #u2063,.ie #u2039,.ie #u2072,.ie #u2043,.ie #u2059,.ie #u2048,.ie #u2235,.ie #u2233,.ie #u2240,.ie #u2232,.ie #u2234,.ie #u2231,.ie #u2239,.ie #u2237,.ie #u2271,.ie #u2273,.ie #u2276,.ie #u2272,.ie #u2277,.ie #u2274,.ie #u2288,.ie #u2291,.ie #u2290,.ie #u2284,.ie #u2285,.ie #u2286
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2320
{
	z-index: 462;
	width: 875px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2289-4
{
	z-index: 452;
	width: 566px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	color: #1A1A1A;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 155px;
	margin-top: 17px;
	position: relative;
}

#u1689
{
	z-index: 105;
	min-height: 659px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/final.jpg") no-repeat center center;
	background-size: contain;
}

#u1689_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 40px;
	padding-bottom: 41px;
}

#u2337-4
{
	z-index: 465;
	width: 632px;
	min-height: 31px;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 264px;
	position: relative;
}

#u2338-4
{
	z-index: 469;
	width: 680px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 240px;
	margin-top: 490px;
	position: relative;
}

#u1689-bw
{
	z-index: 105;
	min-height: 659px;
	margin-top: 88px;
}

#u2335
{
	z-index: 464;
	height: 30px;
	background-color: #F7F7F7;
}

#u2335-bw
{
	z-index: 464;
	height: 30px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

