.version.index /* version checker */
{
	color: #000001;
	background-color: #CB66A2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6022.999999999996px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu112
{
	width: 0.01px;
	padding-bottom: 65px;
	margin-left: -100px;
}

#u112
{
	z-index: 65;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 0px;
}

#u112-bw
{
	z-index: 65;
}

#u120-5
{
	z-index: 66;
	width: 142px;
	min-height: 36px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -580px;
}

#u120-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u120
{
	font-size: 30px;
	line-height: 36px;
}

#u82
{
	z-index: 2;
	height: 700px;
	border-style: none;
	border-color: transparent;
	background: #F7F7F7 url("../images/title4.jpg") no-repeat center center;
	background-size: cover;
}

#u82-bw
{
	z-index: 2;
	height: 700px;
}

#pu98-6
{
	width: 0.01px;
	padding-bottom: 217px;
	margin-left: 194px;
	margin-top: -606px;
}

#u98-6
{
	z-index: 7;
	width: 572px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 226px;
	left: 50%;
	margin-left: -286px;
}

#u1803
{
	margin-top: 654px;
	margin-bottom: -654px;
}

#u1800-7
{
	z-index: 13;
	width: 696px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u96-4
{
	z-index: 3;
	width: 446px;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 159px;
	left: 50%;
	margin-left: -223px;
}

#u451
{
	z-index: 21;
	min-height: 494px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 221px;
}

#u451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -2px;
}

#u1804-7
{
	z-index: 23;
	width: 864px;
	min-height: 304px;
	background-color: transparent;
	line-height: 31px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 148px;
}

#u451-bw
{
	z-index: 21;
	min-height: 494px;
	margin-top: -2px;
}

#u1999-4
{
	z-index: 32;
	width: 864px;
	min-height: 39px;
	background-color: transparent;
	line-height: 38px;
	color: #1A1A1A;
	text-align: center;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 48px;
	margin-top: 58px;
	position: relative;
}

#u1990
{
	z-index: 30;
	width: 696px;
	background-color: transparent;
	margin-left: 132px;
	margin-top: 30px;
	position: relative;
}

#u2001
{
	z-index: 47;
	width: 410px;
	background-color: transparent;
	margin-left: 275px;
	margin-top: 46px;
	position: relative;
}

#u2000-7
{
	z-index: 36;
	width: 864px;
	min-height: 39px;
	background-color: transparent;
	line-height: 31px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 48px;
	margin-top: 35px;
	position: relative;
}

#u2012
{
	z-index: 22;
	min-height: 3503.4px;
	border-style: none;
	border-color: transparent;
	background-color: #F7F7F7;
	padding-bottom: 1px;
}

#u2012_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 72px;
	padding-bottom: 53px;
}

#u2013-4
{
	z-index: 49;
	width: 864px;
	min-height: 39px;
	background-color: transparent;
	line-height: 38px;
	color: #1A1A1A;
	text-align: center;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	position: relative;
}

#u2014-4
{
	z-index: 43;
	width: 864px;
	min-height: 39px;
	background-color: transparent;
	line-height: 31px;
	color: #1A1A1A;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	margin-top: 36px;
	position: relative;
}

#u2015
{
	z-index: 53;
	width: 742px;
	background-color: transparent;
	left: 209px;
	margin-top: 36px;
	position: relative;
}

#ppu2033
{
	width: 0.01px;
	left: 100px;
	margin-top: 114px;
	position: relative;
}

#pu2033
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u2033
{
	z-index: 55;
	width: 464px;
	background-color: transparent;
	position: relative;
}

#u2045
{
	z-index: 59;
	width: 464px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u2057
{
	z-index: 63;
	width: 467px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#pu2039
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 487px;
}

#u2039
{
	z-index: 57;
	width: 473px;
	background-color: transparent;
	position: relative;
}

#u2051
{
	z-index: 61;
	width: 479px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u2012-bw
{
	z-index: 22;
	min-height: 3503.4px;
	margin-top: 54px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

